html {
  padding: 0;
  margin: 0;
}

h3 {
  color: #e04485;
}

.navbar {
  z-index: 2;
  position: relative;
  width: 100%;
  bottom: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff !important;
}

.NaoCadastrado {
  box-shadow: 0.3px 3px 1px rgb(255, 0, 111);
}

.NaoCadastrado img {
  height: 100px;
  margin: 0 auto;
}

.NaoCadastrado p {
  margin: 0 auto 0;
  padding: 10%;
  color: #a5a5a5;
}

.btn-rosa-escuro {
  margin: 1% 2%;
  background: #e04494;
  color: white;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-rosa-mais-escuro {
  margin: 1% 2%;
  background: #b7005e;
  color: white;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-rosa-claro {
  margin: 1% 2%;
  background: #e04494a3;
  text-decoration: none;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-exit {
  background: white;
  color: #e04494;
  -webkit-transition: all 1s;
  transition: all 1s;
  box-shadow: 0px -1px 6px 0px #dedede;
}

.btn-exit:hover {
  background: #e04494;
  color: white;
  text-decoration: none;
  box-shadow: -3px 3px 0px 0px #dedede;
}

.btn-rosa-escuro:hover, .btn-rosa-claro:hover, .btn-rosa-mais-escuro:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: -3px 3px 0px 0px #dedede;
}

.text-Request, .text-Response {
  color: #adadad;
}

.btn {
  margin-top: 16px;
}

#request {
  background: #FFFFFF;
  box-shadow: -5px 0px 0px #e04494, 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#response {
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 0px #e04494a3;
}


@media only screen and (max-width: 600px) {
  #request {
    background: #FFFFFF;
    box-shadow: 0px -2px 0px #e04494, 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #response {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #e04494a3;
  }
}
